<!-- Side Nav START -->
<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown open" onclick="toggleClass(this)">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="active">
                        <a asp-area="Staff" asp-controller="OrderManager" asp-action="OrderList">Trang chủ</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" onclick="toggleClass(this)">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản Lý Đơn Hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Staff" asp-controller="OrderManager" asp-action="OrderList">Danh sách đơn hàng</a>
                    </li>
                    <li>
                        <a asp-area="Staff" asp-controller="OrderManager" asp-action="OrderList">Thông tin vận chuyển và giao hàng</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" onclick="toggleClass(this)">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Quản Lý Khách Hàng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Staff" asp-controller="OrderManager" asp-action="OrderList">Hồ sơ khách hàng</a>
                    </li>
                    <li>
                        <a asp-area="Staff" asp-controller="OrderManager" asp-action="OrderList">Giá trị khách hàng</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" onclick="toggleClass(this)">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Thống Kê & Báo Cáo</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Staff" asp-controller="OrderManager" asp-action="OrderList">Doanh số</a>
                    </li>
                    <li>
                        <a asp-area="Staff" asp-controller="OrderManager" asp-action="OrderList">Lợi nhuận</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Side Nav END -->
 @section Scripts {
     <script>
        function toggleClass(clickedElement) {
            // Lấy danh sách tất cả các thẻ <li>
            var listItems = document.querySelectorAll('.nav-item');

            // Xóa class "open" khỏi tất cả các thẻ <li>
            listItems.forEach(function (item) {
                item.classList.remove('open');
            });

            // Thêm class "open" vào thẻ <li> được click
            clickedElement.classList.add('open');
     </script>
 }