<div class="col-lg-3 col-md-12">
    <!-- Price Start -->
    <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
        <form id="price-filter-form">
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                <input type="checkbox" class="custom-control-input" value="all" checked id="price-all">
                <label class="custom-control-label" for="price-all">All Price</label>
                @* <span class="badge border font-weight-normal">1000</span> *@
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                <input type="checkbox" class="custom-control-input" value="0-300000" id="price-1">
                <label class="custom-control-label" for="price-1">0-300.000</label>
                @* <span class="badge border font-weight-normal">150</span> *@
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                <input type="checkbox" class="custom-control-input" value="300000-500000" id="price-2">
                <label class="custom-control-label" for="price-2">300.000-500.000</label>
               @*  <span class="badge border font-weight-normal">295</span> *@
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                <input type="checkbox" class="custom-control-input" value="500000-1000000" id="price-3">
                <label class="custom-control-label" for="price-3">500.000-1.000.000</label>
                @* <span class="badge border font-weight-normal">246</span> *@
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                <input type="checkbox" class="custom-control-input" value="1000000-2000000" id="price-4">
                <label class="custom-control-label" for="price-4">1.000.000-2.000.000</label>
                @* <span class="badge border font-weight-normal">145</span> *@
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                <input type="checkbox" class="custom-control-input" value="2000000-3000000" id="price-5">
                <label class="custom-control-label" for="price-5">2.000.000-3.000.000</label>
                @* <span class="badge border font-weight-normal">168</span> *@
            </div>
        </form>    
    </div>
    <div id="selected-prices-container"></div>
    <!-- Price End -->
    <div class="input-group">
        <div class="input-group-append">
            <button id ="btnFilter" class="btn btn-primary px-4" type="submit">Lọc sản phẩm</button>
        </div>
    </div>
</div>

