@model IEnumerable<OrderInfo>

<select class="custom-select" id="selectDate" style="min-width: 180px;">
    <option selected>Filter By Date</option>
    <option value="all">All</option>
    <option value="all">Hôm Nay</option>
    <option value="all">Tuần</option>
    <option value="all">Tháng</option>
</select>
