<div class="col-md-2">
    <div class="d-flex flex-column">
        <a asp-controller="User" asp-action="Profile" class="btn btn-primary mb-2 profile-btn" data-target="personal-info">Thông Tin Cá Nhân</a>
        <a asp-controller="User" asp-action="Purchase" class="btn btn-primary mb-2 profile-btn" data-target="my-orders">Đơn Hàng Của Tôi</a>
      @*<a href="#" class="btn btn-primary mb-2 profile-btn" data-target="address">Địa Chỉ</a> *@
        <!-- Add more buttons as needed -->
    </div>
</div>