@{
    ViewData["Title"] = "Order History";
    ViewData["PageHeader"] = "Purchase";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}
@model IEnumerable<OrderInfo>
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="row">
        <!-- Profile Buttons on the Left -->
        <partial name="_MenuContent" />
        <!-- User Profile -->
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- User Avatar -->
                            <img src="https://placekitten.com/200/200" alt="User Avatar" class="img-fluid rounded-circle mb-4">
                        </div>
                        <div class="col-md-8">
                            @foreach (var Order in Model)
                            {
                                <!-- User Information -->
                                <h4 class="mb-3">Mã đơn hàng: #@Order.Id</h4>
                                <p>Thời gian đặt: @Order.OrderDate</p>
                                @* <p>Tổng giá trị: </p> *@
                                <!-- Add more profile information as needed -->
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
