
@{
    ViewData["Title"] = "Order History";
    ViewData["PageHeader"] = "Purchase";
    Layout = "~/Views/Shared/_LayoutStore.cshtml";
}
@model IEnumerable<OrderInfo>
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Profile Buttons on the Left -->
        <partial name="_MenuContent" />
        <!-- User Profile -->
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h3 class="col">Mã đơn hàng</h3>
                        <h3 class="col">Thời gian đặt</h3>
                        <h3 class="col">Tổng giá trị</h3>
                        <h3 class="col">Chi tiết</h3>
                    </div>
                </div>
                <div class="card-body">
                    @foreach (var Order in Model)
                    {
                    <div class="row">
                         
                            <div class="col">
                                    <h4 class="mb-3">#@Order.Id</h4>
                            </div>
                            <div class="col">
                                    <p>@Order.OrderDate</p>
                            </div>
                            <div class="col">
                                    <p>@Cart.ConvertToVND((decimal)Order.TotalPrice) </p>
                            </div>
                            <div class="col">
                                <a href="#">Chi tiết</a>
                            </div>

                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
