@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Book>

@foreach (var item in Model)
{
    <partial name="_Product" model="item" />
}
<!-- Pagination Start -->
<div class="col-12 pb-1">
    <nav aria-label="Page navigation">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
        new PagedListRenderOptions
        {
        LiElementClasses = new string[] { "page-item" },
        UlElementClasses = new string[] { "pagination", "justify-content-center", "mb-3" },
        PageClasses = new string[] { "page-link" },
        })
    </nav>
</div>
<!-- Pagination End -->
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function () {
            $(".ajax-add-to-cart").click(function () {
                $.ajax({
                    url: "/Cart/AddToCart",
                    data: {
                        productId: $(this).data("id"),
                        quantity: 1,
                        type: "ajax"
                    },
                    success: function (data) {
                        console.log(data);
                        Swal.fire({
                            icon: 'success',
                            title: 'Thêm giỏ hàng thành công',
                            showConfirmButton: false,
                            timer: 2500
                        }),
                            $("#cart_count").html(data.quantity);
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Thêm giỏ hàng thất bại',
                            text: 'Vui lòng thử lại',
                            showConfirmButton: false,
                            timer: 2500
                        });
                    }
                });
            });
        });
    </script>
}
