@model BookStore.Models.Employee

@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBroad.cshtml";
}


@section css {
    <!-- page css -->
    <link href="~/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">
}
<div class="page-container">
    <!-- Content Wrapper START -->
    <div class="main-content mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Edit Employee</h2>
                <form asp-action="EditEmployee" asp-controller="EmployeeManager" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label">Gender</label>
                        <div>
                            <label class="radio-inline">
                                <input asp-for="Gender" id="radio1" name="Gender" type="radio" value="True">
                                <label asp-for="Gender" for="radio1">Nam</label>
                            </label>
                            <label class="radio-inline">
                                <input asp-for="Gender" id="radio2" name="Gender" type="radio" value="False">
                                <label asp-for="Gender" for="radio2">Nữ</label>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Birthday" class="control-label">Default Datepicker</label>
                        <div class="input-affix m-b-10">
                            <i class="prefix-icon anticon anticon-calendar"></i>
                            <input asp-for="Birthday" type="text" data-date-format="dd/mm/yyyy"
                            class="form-control datepicker-input" placeholder="Pick a date">
                        </div>
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Salary" class="control-label"></label>
                        <input asp-for="Salary" class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a class="btn btn-danger" asp-action="EmployeeList" asp-controller="EmployeeManager">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- page js -->
    <script src="~/admin/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script>
        $('.datepicker-input').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true
        });
    </script>
}

