@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDashBroad.cshtml";
}
@model BookStore.Models.Book

@section css{
    <link href="~/admin/assets/vendors/select2/select2.css" rel="stylesheet">
}
<div class="page-container">

    <!-- Content Wrapper START -->
    <div class="main-content">
        <form asp-action="Edit" asp-controller="ProductAdmin" method="post">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Isbn" />
            <div class="page-header no-gutters has-tab">
                <div class="d-md-flex m-b-15 align-items-center justify-content-between">
                    <div class="media align-items-center m-b-15">
                        <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                            <img src="@Url.Content("~/ProductsImages/Images/" + Model.PictureThumb)" alt="">
                        </div>
                        <div class="m-l-15">
                            <h4 class="m-b-0">@Model.BookName</h4>
                            <p class="text-muted m-b-0">Product ID: #@Model.Isbn</p>
                        </div>
                    </div>
                    <div class="m-b-15">
                        <button class="btn btn-primary" type="submit" value="Save">
                            <i class="anticon anticon-save"></i>
                            <span>Save</span>
                        </button>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#product-edit-description">Description</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content m-t-15">
                <div class="tab-pane fade show active" id="product-edit-basic">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="BookName" class="font-weight-semibold">Product Name</label>
                                <input asp-for="BookName" class="form-control"/>
                                <span asp-validation-for="BookName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="font-weight-semibold">Price</label>
                                <input asp-for="Price" class="form-control"/>
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BookCategoryId" class="font-weight-semibold">Category</label>
                                <select asp-for="BookCategoryId" class="custom-select" asp-items="ViewBag.BookCategoryId"></select>
                                <span asp-validation-for="BookCategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AuthorId" class="font-weight-semibold">Author</label>
                                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                                <span asp-validation-for="AuthorId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublisherId" class="font-weight-semibold">Publisher</label>
                                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
                                <span asp-validation-for="PublisherId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Stock" class="font-weight-semibold">Stock</label>
                                <input asp-for="Stock" class="form-control" />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="product-edit-option">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Language" class="font-weight-semibold">Language</label>
                                <input asp-for="Language" class="form-control" />
                                <span asp-validation-for="Language" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublishYear" class="font-weight-semibold">PublishYear</label>
                                <input asp-for="PublishYear" class="form-control" />
                                <span asp-validation-for="PublishYear" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TotalPage" class="font-weight-semibold">TotalPage</label>
                                <input asp-for="TotalPage" class="form-control" />
                                <span asp-validation-for="TotalPage" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Discount" class="font-weight-semibold">Discount</label>
                                <input asp-for="Discount" class="form-control" />
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-semibold" asp-for="Status">Trạng thái</label>
                                <select class="custom-select" asp-for="Status">
                                    @if (Model.Status > 0)
                                    {
                                        <option value="1" selected>Đang bán</option>
                                        <option value="0">Chưa bán</option>
                                    }
                                    else
                                    {
                                        <option value="0" selected>Chưa bán</option>
                                        <option value="1">Đang bán</option>
                                    }
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="product-edit-description">
                    <div class="card">
                        <div class="card-body">
                            <div id="productDescription">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Content Wrapper END -->
</div> 


@section Scripts {
    <!-- page js -->
    <script src="~/admin/assets/vendors/select2/select2.min.js"></script>
    <script src="~/admin/assets/vendors/quill/quill.min.js"></script>
    <script src="~/admin/assets/js/pages/e-commerce-product-edit.js"></script>
}

